/* 整个顶部大背景 */
#page-header {
  background: url('/img/B.jpg') no-repeat center center !important;
  background-size: cover !important;
  filter: contrast(1.1) brightness(1.05);
}
#page-header::before {
  backdrop-filter: blur(2px) !important;
  opacity: 1 !important;
}


/* 导航文字变白加阴影，和你原来的一样 */
#nav a, 
#nav .site-page {
  color: #ffffff !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
footer {
  background: #1a1a1a !important;
}
